<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <material name="blue">
        <color rgba="0.1 0.1 1.0 0.5" />
    </material>

    <material name="black">
        <color rgba="0.0 0.0 0.0 0.5" />
    </material>

    <material name="Gazebo/Black">
        <color rgba="0.0 0.0 0.0 1.0" />
    </material>

</robot>